<ul>
    <li>State: {{sharedState.state}}</li>
    <li>Phase: {{sharedState.phase}}</li>
    <li>Current Player:{{sharedState.currentPlayer}}</li>
    <li>Action: {{sharedState.action}}</li>
    <li>Block: {{sharedState.block}}</li>
    <li># of Participants: {{participants.length}}</li>
    <li>My Id: {{me.id}}</li>
</ul>