<header>
    <h1 id='title'>The Iron Throne</h1>
    <p class="subtitle">In the game of thrones, you either win or you die.</p>
</header>
{{#if debugging}}
{{sharedState.state}}
{{sharedState.phase}}
{{sharedState.currentPlayer}}

{{sharedState.action}}
{{sharedState.counterAction}}

{{participants.length}}
{{me.id}}
{{/if}}

{{#if isStarted}}
  {{outlet}}
{{else}}
  <section class="new-game">
      <div>
          <button {{action 'start'}}>Start Game</button>
      </div>
  </section>
{{/if}}

<section class="players">
    <ul>
        {{#each game.players}}
            <li>{{person.displayName}}<span class="coins">{{coins}}</span><span class="roles">{{roles.length}}</span></li>
        {{/each}}
    </ul>
</section>

<footer>
    <section class="assets">
        <div class="coins pull-left">
            {{myCoins}}
        </div>
        <div class="roles pull-right">
            <ul class="roles list--inline">
                {{#each myRoles}}
                  <li>{{name}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="clear"></div>
    </section>
</footer>