<header>
    <h1 id='title'>The Iron Throne</h1>
    <p class="subtitle">In the game of thrones, you either win or you die.</p>
</header>

{{#if isStarted}}
  {{outlet}}
{{else}}
  <section class="new-game">
      <div>
          <button {{action 'newGame'}}>Start Game</button>
      </div>
  </section>
{{/if}}

<section class="players">
    <ul>
        {{#each game.players}}
            <li>{{person.displayName}}<span class="coins">{{coins}}</span><span class="roles">{{roles.length}}</span></li>
        {{/each}}
    </ul>
</section>

<footer>
    <section class="assets">
        <div class="coins">4</div>
        <div class="roles">
            <ul class="roles">
                <li class="duke">Duke</li>
                <li class="assassin">Assassin</li>
            </ul>
        </div>
        <div class="clear"></div>
    </section>
</footer>