<section class="new-game">
    <div>
        <button {{action 'start'}}>Start Game</button>
    </div>
</section>

<section class="blocks">
    {{#if chooseBlockingRole}}
        <ul class="blocks">
            <li><a class="block char duke foreign-aid" {{action 'chooseBlock' 'BlockForeignAid'}}><span
                    class="icon duke"></span>Block Foreign Aid</a></li>
            <li><a class="block char ambassador steal" {{action 'chooseBlock' 'BlockStealingA'}}><span
                    class="icon ambassador"></span>Block Stealing</a></li>
            <li><a class="block char captain steal" {{action 'chooseBlock' 'BlockStealingC'}}><span
                    class="icon captain"></span>Block Stealing</a></li>
            <li><a class="block char contessa assassinate" {{action 'chooseBlock' 'BlockAssassination'}}><span
                    class="icon contessa"></span>Block Assassination</a></li>
        </ul>
    {{/if}}
</section>
